@using YemekDemeti_4.Models
@model RestaurantVM
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/AdminStyleSheet.css" rel="stylesheet" />
<script src="~/Content/AdminPageJavaScript.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/LogInStyleSheet.css" rel="stylesheet" />


<div class="wrapper fadeInDown">
    <div id="formContent">

        @using (Html.BeginForm("LogIn", "Restaurant"))
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.Role, new { @Value = "admin" })
            @Html.TextBoxFor(x => x.AdminName, new { @class = "fadeIn second", @placeholder = "Kullanıcı İsmi" })
            @Html.PasswordFor(x => x.Password, new { @class = "fadeIn third", @type="password", @placeholder = "Şifre" })

            <input type="submit" class="fadeIn fourth" value="Giriş">
        }

        <span style="color:red" class="fadeIn fourth">@(ViewBag.Mesaj)</span>
    </div>
</div>

